*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: purple;
    justify-content: start;
    align-items: center;
    border: linear-gradient(to right, #2f83e9, #e00721, #e6ff00) 10px black;
}

header {  
    height: 100px;
    width: 100%; 
    background: linear-gradient(to right, #2f83e9, #e00721, #e6ff00);
    margin: 0 auto; 
}