<DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='respostas12345678.css') }}">
    <title>Antares</title>
</head>
<body>
    <div class="foto_titulo">
        <img id="foto_antares" src="{{ url_for('static', filename='images/antares.png') }}" alt="antares">
        <h1>Antares</h1>
    </div>
    <p>Antares é uma estrela supergigante vermelha na constelação de Scorpius. É a 16.ª estrela mais brilhante do céu noturno.</p>
    
    <table>
        <tr>
            <th>Produto/Serviço</th>
            <th>Preço</th>
        </tr>
        <tr>
            <td>Consultoria para manutenção</td>
            <td>R$ 50,00</td>
        </tr>
        <tr>
            <td>Formatação de computadores e pendrives: </td>
            <td>R$ 80,00</td>
        </tr>
        <tr>
            <td>Limpeza e montagem de computadores: </td>
            <td>R$ 250,00</td>
        </tr>
    </table>
    <button onclick="">Página de contato</button>


    <!-- Formulário modificado -->
    <h1>Formulário</h1>
    <form action="/contato" method="POST">
        <label for="nome">Nome: </label>
        <input type="text" id="nome" name="nome" required><br><br>
        
        <label for="email">E-mail: </label>
        <input type="email" id="Labelemail" name="email" required><br><br>

        <label for="mensagem">Mensagem: </label>
        <textarea id="mensagem" name="mensagem" rows="5" cols="40" required></textarea>
        <br><br>

        <label for="tema">Selecione um tema:</label>
        <select id="tema" name="tema">
            <option value="tecnologia">Tecnologia</option>
            <option value="educacao">Educação</option>
            <option value="saude">Saúde</option>
        </select>
        <br><br>
        <button type="submit">Enviar</button>
    </form>

    <h1 class="tema">Tema</h1>
    <select name="opcoes" id="opcoes">
        <option value="selecione">Selecione um tema</option>
        <option value="tecnologia">Tecnologia</option>
        <option value="educacao">Educação</option>
        <option value="saude">Saúde</option>
    </select>

    <blockquote>
        <p class="citacao">“O brilho mais forte do céu, me chame de Antares”</p>
        <p class="autor">- Choice</p>
    </blockquote>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/zQIkH7AbP4g?si=gxVYUPGbklkXT7kD" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <p><a href="#secaoImportante">Ir para outras estrelas</a></p>
    <p>Exemplo de coteúdo 1</p>
    <hr>
    <p>Exemplo de coteúdo 2</p>
    <hr>
    <p>Exemplo de coteúdo 3</p>
    <hr>
    <footer>&#169 2024 ANTARES</footer>

</body>
</html>