*{
    margin: 0;
    padding: 0;
}
body {
    padding: 10px;
    margin: 0 auto;
    min-height: 100vh;
    background: linear-gradient(to right, #830cc4, #a63ae6, #d58cfc);
}

#foto_antares{  
    height: 100px;
    border-radius: 20px;
    margin-right: 30px;
}

h1{
    font-size: 100px;   
}

.foto_titulo{
    display: flex;
    align-items: center;
}

p{
    font-size: 23px;
    margin-top: 20px;
}


table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr :nth-child(even){
    background-color: azure;
}

th{
    background-color: rgb(173, 15, 147);
    color: rgb(189, 189, 189);
}

.formulario{
    margin-top: 20px;
    font-size: 40px;
}


.tema{
    margin-top: 20px;
    font-size: 40px;
}

blockquote{
    margin-top: 30px;
}
.citacao{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -20px;
}

.autor{
    font-weight: medium;

}

iframe{
    margin: 20px;
    border-radius: 10px;
}

footer {
    display: flex;
    width: 100%;
    letter-spacing: 10px;
    background-color: #c144c5;
    color: aliceblue;
    justify-content: center;
    padding: 1.3rem;
    margin-bottom: -37px;
    
    bottom:0%;

}